<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Bootstrap Admin</title>
</head>
<body>
<div class="span3">

    <div class="account-container">

        <div class="account-avatar">
            <img src="../img/headshot.png" alt="" class="thumbnail" />
        </div> <!-- /account-avatar -->

        <div class="account-details">

            <span class="account-name">Rod Howard</span>

            <span class="account-role">Administrator</span>

						<span class="account-actions">
							<a href="javascript:;">Profile</a> |

							<a href="javascript:;">Edit Settings</a>
						</span>

        </div> <!-- /account-details -->

    </div> <!-- /account-container -->

    <hr />

    <ul id="main-nav" class="nav nav-tabs nav-stacked">

        <li class="active">
            <a href="/admin">
                <i class="icon-home"></i>
                用户列表
            </a>
        </li>

        <li>
            <a href="/artical">
                <i class="icon-pushpin"></i>
                文章列表
            </a>
        </li>

        <li>
            <a href="/pinglun">
                <i class="icon-th-list"></i>
                评论列表
            </a>
        </li>

        <li>
            <a href="/admin/tag">
                <i class="icon-th-large"></i>
                文章标签
                <span class="label label-warning pull-right">5</span>
            </a>
        </li>

        <li>
            <a href="./charts.html">
                <i class="icon-signal"></i>
                统计
            </a>
        </li>

        <li>
            <a href="/admin/update">
                <i class="icon-user"></i>
                用户管理
            </a>
        </li>

        <li>
            <a href="./login.html">
                <i class="icon-lock"></i>
                登录
            </a>
        </li>

    </ul>

    <hr />

    <div class="sidebar-extra">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
    </div> <!-- .sidebar-extra -->

    <br />

</div> <!-- /span3 -->
</body>
</html>