<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>周健博客</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="/css/front/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="templatemo_footer">

    <div class="section_w540">
        <div class="header_03">最新评论</div>
        <ul class="footer_menu_list">
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Cum sociis</a></li>
            <li><a href="#">Donec quam</a></li>
            <li><a href="#">Nulla consequat</a></li>
            <li><a href="#">In enim justo</a></li>
        </ul>
    </div>

    <div class="section_w220">
        <div class="header_03">友情链接</div>
        <ul class="footer_menu_list">
            <li><a href="#">周健的博客</a></li>
            <li><a href="#">XX的博客</a></li>
            <li><a href="#">XX的博客</a></li>
        </ul>
    </div>

    <div class="margin_bottom_30"></div>
    Copyright © 2017.03.18
    <!-- Credit: www.templatemo.com -->
    <div class="cleaner"></div>
    </div> <!-- end of footer -->
</body>
</html>