<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>周健的个人博客</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/css/front/style.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>
</head>
<body>
<%include header.ejs%>

<div id="templatemo_menu_wrapper">
    <div id="templatemo_menu">
        <ul>
            <li><a href="#" class="current">首页</a></li>
            <li><a href="#">慢生活</a></li>
            <li><a href="#">模板分享</a></li>
            <li><a href="#">学无止境</a></li>
            <li><a href="#" class="last">联系我</a></li>
        </ul>    	
    </div> <!-- end of menu -->
</div> <!-- end of menu wrapper -->

<div id="templatemo_content">
	
   	<div id="column_w540">
        <!-- section start -->
        <div class="post_section">
            <div class="post_header_section">
                <div class="post_header">
                    即便是坑，我也想要拉你入伙！
                </div>
                <div class="post_info">发布时间：2016-05-20&nbsp;&nbsp;&nbsp;作者： <span>周健</span></div>
            </div>
            <div class="templatemo_post_content">
                <a href="#" class="item">
                    <img src="/img/front/templatemo_image_01.jpg" alt="image" />
                    <div class="info">
                        女程序员的职业生涯相对于男程序员来说是很短暂的。就目前我来说，从事这行都已有五年时间，当觉得....
                    </div>
                </a>
                <div class="cleaner"></div>
                <div class="link_button"><a href="#">阅读全文</a> | <a href="#">评论(248)</a></div>
            </div>
            <div class="cleaner"></div>
            <div class="post_section_bottom"></div>
        </div>
        <!-- section end -->
        <!-- section start -->
        <div class="post_section">
            <div class="post_header_section">
                <div class="post_header">
                    如果要学习web前端开发，需要学习什么？
                </div>
                <div class="post_info">发布时间：2016-05-20&nbsp;&nbsp;&nbsp;作者： <span>周健</span></div>
            </div>
            <div class="templatemo_post_content">
                <a href="#" class="item">
                    <img src="/img/front/templatemo_image_01.jpg" alt="image" />
                    <div class="info">
                        遇到很多新手，都会问，如果要学习web前端开发，需要学习什么？难不难？多久能入门？怎么能快速建一个网站？
                        工资能拿到多少？还有些让我推荐一些培训机构什么的要去学习。我建议是自学，实在是觉得自己没有这个能力，
                        确实是需要一个老师的话，那你还是自己做主找个老师吧！
                    </div>
                </a>
                <div class="cleaner"></div>
                <div class="link_button"><a href="#">阅读全文</a> | <a href="#">评论(248)</a></div>
            </div>
            <div class="cleaner"></div>
            <div class="post_section_bottom"></div>
        </div>
        <!-- section end -->
        <div class="post_section">
        	<div class="post_header_section">
            	<div class="post_header">
                    即便是坑，我也想要拉你入伙！
                </div>
                <div class="post_info">发布时间：2016-05-20&nbsp;&nbsp;&nbsp;作者： <span>周健</span></div>
            </div>
            <div class="templatemo_post_content">
           	  	<a href="#" class="item">
                    <img src="/img/front/templatemo_image_01.jpg" alt="image" />
                    <div class="info">
                        其实，女程序员的职业生涯相对于男程序员来说是很短暂的。就目前我来说，从事这行都已有五年时间，当觉得
                        自己在一个瓶颈阶段无法突破自己的时候，出现了html5和css3，新的技术研究，可以重拾当初学习的激情和兴趣，
                        于是又坚持至今....
                    </div>
                </a>
                <div class="cleaner"></div>
                <div class="link_button"><a href="#">阅读全文</a> | <a href="#">评论(248)</a></div>
            </div>
          <div class="cleaner"></div>
            <div class="post_section_bottom"></div>
        </div>
    	<div class="cleaner"></div>
    </div>
    <!--  side start  -->
    <%include side.ejs%>
    <!--   side end  -->
	<div class="margin_bottom_20"></div>
	<div id="bottom"></div>   
</div> <!-- end of content -->

<%include footer.ejs%>
<!-- templatemo 142 art blog -->
<!-- 
Art Blog Template 
http://www.templatemo.com/preview/templatemo_142_art_blog 
-->
</body>
</html>