<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>用户注册</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="/css/front/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <%include header.ejs%>
    <div id="templatemo_content">
        <div id="templatemo_menu_wrapper">
            <div id="templatemo_menu">
                <ul>
                    <li><a href="#" class="current">首页</a></li>
                    <li><a href="#">慢生活</a></li>
                    <li><a href="#">模板分享</a></li>
                    <li><a href="#">学无止境</a></li>
                    <li><a href="#" class="last">联系我</a></li>
                </ul>
            </div> <!-- end of menu -->
        </div> <!-- end of menu wrapper -->
        <div class="reg-info">
            <ul>
                <li>
                    用户名: <input type="text" class="username"/>
                </li>
                <li>
                    密&nbsp;&nbsp;&nbsp;码: <input type="text" class="username"/>
                </li>
                <li>
                    <a href="/reg">注册</a>
                </li>
            </ul>
        </div>
    </div>

</body>
</html>