<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>周健博客</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="/css/front/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="side_column_wrapper">
    <div id="side_column">

        <div class="section_w260">
            <div class="header_02">个人信息</div>
            <ul class="login">
                <li>
                    用户名： <input type="text" name="username" maxlength="12" placeholder="用户名"/>
                </li>
                <li>
                    密&nbsp;&nbsp;&nbsp;&nbsp;码： <input type="password" name="pass" maxlength="6" placeholder="密码"/>
                </li>
                <li>
                    <a class="btn" href="/login">登录</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn" href="/register">注册</a>
                </li>
            </ul>
        </div>

        <div class="section_w260">
            <div class="ads_125_125 margin_right_10">
                <a href="#"><img src="/img/front/templatemo_ads.jpg" alt="advertise here" /></a>
            </div>
            <div class="ads_125_125">
                <a href="#"><img src="/img/front/templatemo_ads.jpg" alt="advertise here" /></a>
            </div>
            <div class="ads_125_125 margin_right_10">
                <a href="#"><img src="/img/front/templatemo_ads.jpg" alt="advertise here" /></a>
            </div>
            <div class="ads_125_125">
                <a href="#"><img src="/img/front/templatemo_ads.jpg" alt="advertise here" /></a>
            </div>

            <div class="cleaner"></div>
        </div>

        <div class="section_w260">
            <div class="header_02">点击排行</div>
            <div class="recent_post">
                <div class="header_04"><a href="#">女程序员职业生涯该如何发展？</a>
                </div>
                不知道自己以后还能不能继续干这一行，结婚不到一年，也许某天开始会离开一两年，当再回来工作的时候，不知道是否能有单位再愿意聘请我
            </div>

            <div class="recent_post">
                <div class="header_04"><a href="#">女程序员职业生涯该如何发展？</a>
                </div>
                不知道自己以后还能不能继续干这一行，结婚不到一年，也许某天开始会离开一两年，当再回来工作的时候，不知道是否能有单位再愿意聘请我
            </div>

            <div class="recent_post">
                <div class="header_04"><a href="#">女程序员职业生涯该如何发展？</a>
                </div>
                不知道自己以后还能不能继续干这一行，结婚不到一年，也许某天开始会离开一两年，当再回来工作的时候，不知道是否能有单位再愿意聘请我
            </div>

        </div>

        <div class="section_w260">
            <div class="header_02">Check this out!</div>
            <ul class="side_column_list">
                <li><a href="#">CSS Templates</a></li>
                <li><a href="#">Flash Templates</a></li>
                <li><a href="#">Free Wordpress Themes</a></li>
                <li><a href="#">Flash Websites Gallery</a></li>
            </ul>
        </div>

        <div class="cleaner"></div>
    </div> <!-- end of side column -->
    </div>
</body>
</html>